---
import Timeline from "./Timeline.astro";
import * as m from "../paraglide/messages";
---

<section class="flex flex-col my-44">
    <h2 class="font-semibold text-5xl mb-2">{m.educationTitle()}</h2>
    <Timeline />
</section>