---
import Timeline from "./Timeline.astro";
import * as m from "../paraglide/messages";
---

<section class="container scroll-m-10 w-full mx-auto lg:max-w-4xl md:max-w-2xl">
    <h2 class="font-semibold text-3xl md:text-5xl mb-2">{m.educationTitle()}</h2>
    <Timeline />
</section>