---
import * as m from "../paraglide/messages";
---

<section class="container scroll-m-10 w-full mx-auto lg:max-w-4xl md:max-w-2xl">
    <h2 class="font-semibold text-3xl md:text-5xl">{m.workExperience()}</h2>
    <div class="flex flex-row flex-wrap text-xl gap-6 text-gray-desc mt-2">
        <h3>
            {m.workExperienceIntern()}
        </h3>
        <span class="text-xl">{m.workExperienceInternDuration()}</span>
    </div>
    <p class="mt-4">{m.workExperienceInternDescription()}</p>
</section>
