---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
---
<footer class="container scroll-m-10 w-full mx-auto lg:max-w-4xl md:max-w-2xl flex border-t border-t-gray-700 pt-5 mt-24 mb-10 justify-between">
    <div>
        <p>Israel Solís Iglesias</p>
    </div>
    <div class="flex flex-row gap-2">
        <a
            href="https://github.com/IsraelSI11"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-orange-highlight"
        >
            <GithubIcon />
        </a>
        <a
            href="https://www.linkedin.com/in/israel-solís-iglesias-43ab6225a/"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-orange-highlight"
        >
            <LinkedinIcon />
        </a>
        <a
            href="mailto:israelsi02@hotmail.com"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-orange-highlight"
        >
            <MailIcon />
        </a>
    </div>
</footer>
