---
import CopyIcon from "./icons/CopyIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
import SendIcon from "./icons/SendIcon.astro";
---

<script>
    function copyEmail() {
        navigator.clipboard.writeText("israelsi02@hotmail.com");
    }

    const copyButton = document.getElementById("copy-email");

    copyButton!.addEventListener("click", () => copyEmail());
</script>

<div class="flex items-center px-2 py-2 bg-zinc-800 border border-gray-700 space-x-2 rounded-lg">
    <MailIcon />
    <p id="email" class="p-2 bg-zinc-700 text-white rounded-md">
        israelsi02@hotmail.com
    </p>
    <button
        id="copy-email"
        class="p-2 bg-zinc-700 text-white rounded-md hover:bg-orange-highlight hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-600"
    >
        <CopyIcon />
    </button>
    <a
        href="mailto:israelsi02@hotmail.com"
        class="p-2 bg-zinc-700 text-white rounded-md hover:bg-orange-highlight hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-600"
    >
        <SendIcon />
    </a>
</div>
