---
import * as m from "../paraglide/messages";
import AngularIcon from "./icons/AngularIcon.astro";
import AzureIcon from "./icons/AzureIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import DockerIcon from "./icons/DockerIcon.astro";
import FigmaIcon from "./icons/FigmaIcon.astro";
import FirebaseIcon from "./icons/FirebaseIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import JavascriptIcon from "./icons/JavascriptIcon.astro";
import JestIcon from "./icons/JestIcon.astro";
import LinuxIcon from "./icons/LinuxIcon.astro";
import MariaDBIcon from "./icons/MariaDBIcon.astro";
import MongodbIcon from "./icons/MongodbIcon.astro";
import NodeIcon from "./icons/NodeIcon.astro";
import PostgreSqlIcon from "./icons/PostgreSqlIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import SpringIcon from "./icons/SpringIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import TypescriptIcon from "./icons/TypescriptIcon.astro";

const skills = {
    Frontend: [
        {
            name: "HTML",
            icon: HtmlIcon,
        },
        {
            name: "CSS",
            icon: CssIcon,
        },
        {
            name: "JavaScript",
            icon: JavascriptIcon,
        },
        {
            name: "TypeScript",
            icon: TypescriptIcon,
        },
        {
            name: "React",
            icon: ReactIcon,
        },
        {
            name: "Angular",
            icon: AngularIcon,
        },
        {
            name: "Tailwind CSS",
            icon: TailwindIcon,
        },
        {
            name: "Figma",
            icon: FigmaIcon,
        },
    ],
    Backend: [
        {
            name: "Node.js",
            icon: NodeIcon,
        },
        {
            name: "Java",
            icon: JavaIcon,
        },
        {
            name: "Spring",
            icon: SpringIcon,
        },
        {
            name: "PostgreSQL",
            icon: PostgreSqlIcon,
        },
        {
            name: "MariaDB",
            icon: MariaDBIcon,
        },
        {
            name: "MongoDB",
            icon: MongodbIcon,
        },
        {
            name: "ElasitcSearch",
            icon: FirebaseIcon,
        },
    ],
    [m.othersText()]: [
        {
            name: "Docker",
            icon: DockerIcon,
        },
        {
            name: "Jest",
            icon: JestIcon,
        },
        {
            name: "Azure",
            icon: AzureIcon,
        },
        {
            name: "GitHub",
            icon: GithubIcon,
        },
        {
            name: "Git",
            icon: GitIcon,
        },
        {
            name: "Firebase",
            icon: FirebaseIcon,
        },
        {
            name: "Linux",
            icon: LinuxIcon,
        },
    ],
};
---

<section id={m.skillsNavLabel()} class="container w-full mx-auto lg:max-w-4xl md:max-w-2xl mt-12">
    <h2 class="font-semibold text-2xl md:text-3xl">{m.skills()}</h2>
    <div class="flex flex-row flex-wrap md:flex-nowrap gap-12 mt-8">
        {
            Object.keys(skills).map((skillType) => (
                <div class="flex flex-col w-full md:w-1/3 mx-4 md:mx-0 p-4 [background:linear-gradient(45deg,theme(colors.zinc.800),theme(colors.zinc.900)_50%,theme(colors.zinc.800))_padding-box,conic-gradient(from_var(--border-angle),theme(colors.zinc.800/.48)_80%,#FFC300_86%,#FFC300_90%,#FFC300_94%,theme(colors.zinc.800/.48))_border-box] rounded-2xl border border-transparent animate-border">
                    <h3 class="text-xl md:text-2xl font-semibold border-b border-b-gray-700 pb-2">{skillType}</h3>
                    <ul class="list-none mt-2">
                        {skills[skillType].map((skill) => (
                            <li class="flex items-center mt-2">
                                <skill.icon class="w-6 h-6 mr-2" />
                                {skill.name}
                            </li>
                        ))}
                    </ul>
                </div>
            ))
        }
    </div>
</section>

<style>

    @property --border-angle {
        inherits: false;
        initial-value: 0deg;
        syntax: "<angle>";
    }
</style>
