<a {...Astro.props} target="_blank" rel="noopener noreferrer" role="link" class="flex font-semibold gap-2 px-2 py-2 rounded-full bg-slate-900 border border-gray-700 transition md:hover:scale-105 hover:bg-slate-800 hover:text-orange-highlight duration-150">
    <slot />
</a>