---
import DownloadIcon from "./icons/DownloadIcon.astro";
import EyeIcon from "./icons/EyeIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import Mail from "./Mail.astro";
import SocialLink from "./SocialLink.astro";
---

<div class="flex flex-row flex-wrap gap-2">
    <SocialLink href="https://github.com/IsraelSi11">
        <GithubIcon />
        <span>GitHub</span>
    </SocialLink>
    <SocialLink
        href="https://www.linkedin.com/in/israel-solís-iglesias-43ab6225a/"
    >
        <LinkedinIcon />
        <span>Linkedin</span>
    </SocialLink>
    <SocialLink
        href="/Israel_Solís_Iglesias_CV.pdf"
        download="Israel_Solís_Iglesias_CV"
    >
        <DownloadIcon />
        <span>Descargar CV</span>
    </SocialLink>
    <SocialLink
        href="/Israel_Solís_Iglesias_CV.pdf"
    >
        <EyeIcon />
        <span>Visualizar CV</span>
    </SocialLink>
    <div class="col-span-2">
        <Mail/>
    </div>
    
</div>

