---
import * as m from "../paraglide/messages";

const education = [
    {
        degree: m.degree1(),
        institution: m.institution1(),
        period: m.period1(),
    },
    {
        degree: m.degree2(),
        institution: m.institution2(),
        period: m.period2(),
    },
];
---

<ol class="relative left-2 border-s-4 border-gray-700">
    {education.map((item) => (
        <li class="mb-10 ms-4">
            <div
                class="absolute size-5 rounded-full mt-1.5 -start-3 border border-gray-700 bg-orange-highlight"
            ></div>
            <h3 class="text-xl md:text-2xl font-semibold">
                {item.degree}
            </h3>
            <h4>{item.institution}</h4>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400">
                {item.period}
            </time>
        </li>
    ))}
</ol>
